<div style="position:fixed; width:100%">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">ComicViewer</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="comic/add">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Comic
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="comic/read">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Read Comic
                </NavLink>
            </div>
        </nav>
    </div>
</div>